@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html {
  color-scheme: dark;
}

body {
  @apply bg-black text-gray-100 min-h-screen antialiased;
}
